body {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    color: antiquewhite;
    background-color: rgb(103, 15, 15);
    padding: 20px;
    margin: 10px;
    text-align: center;
}
h1 {
  font-size: 4em;
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  margin: 10px;
  padding: 9px;
}
p {
    margin: 30px;
}
img {border-radius: 30px;
    padding: auto;
    mix-blend-mode: lighten;
    height: 400px;}
